<div class="back-drop">
  <span *ngIf="deleting" class="container"> <app-loader></app-loader> </span>
  <div *ngIf="!deleting" class="card modal-some">
    <ul class="list-group">
      <!-- <li class="text-center list-group-item">
        <span class="link lead">Unfollow</span>
      </li> -->
      <li class=" text-center list-group-item">
        <span [routerLink]="[postId]" class=" link lead">View</span>
      </li>
      <li *ngIf="showDelete" class="text-center list-group-item">
        <span (click)="deletePost()" class="link  lead">delete</span>
      </li>
    </ul>
  </div>
</div>
