.modal-some {
  position: fixed;

  z-index: 5;

  width: 70%;
  background-color: whitesmoke;
}
.link {
  color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
}
.link:hover {
  color: rgb(0, 0, 0, 0.7);
  border-bottom: 2px solid rgb(0, 0, 0, 0.8);
}
.back-drop {
  margin-bottom: 100px;
}
