<div (click)="goBack()" *ngIf="showBackdrop" class="back-drop"></div>

<app-navigation></app-navigation>

<div class="row ">
  <div class="container">
    <div class="col-sm-12 col-md-8">
      <hr />

      <div class="container">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let post of posts">
            <span *ngIf="showBackdrop"
              ><app-modal [postId]="post._id"></app-modal>
            </span>

            <app-post
              (showBackdrop)="onshowBackdrop($event)"
              [username]="post.user.username"
              [image]="'http://localhost:5000/' + post.postImageUrl"
              [caption]="post.caption"
              [postId]="post._id"
              [likes]="post.likes"
              [comments]="post.comments"
            ></app-post>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
