.post {
  width: 100%;

  height: 400px;
}
.post-header {
  width: 100%;
}

.post-username {
  font-size: 1.4rem;
}
.like {
  font-size: 1.2rem;
  font: 200;
  color: blue;
  cursor: pointer;
}
.like:hover {
  border: 1px solid aqua;
}

/*
.menu:after {
  content: '\2807';
  font-size: 10px;
} */
