<div class="card">
  <div class="post-header">
    <span class="profile-img"></span>
    <p class="post-username">{{ username }}</p>
    <span class="menu"></span>
  </div>

  <div class="post-display-image">
    <img class="img-fluid" [src]="image" alt="X" />
  </div>
  <div class="comment-section">
    <div>
      <strong>{{ username }} </strong>{{ caption }}
    </div>
    <div>
      <a (click)="onLiked()" class="like badge badge-pill">like</a>
      <span>{{ likes.length || null }}</span>
      <span>comment</span>
    </div>
  </div>
</div>
