<p [routerLink]="['']" class="display-4 text-center">Connecter</p>
<hr />
<div *ngIf="!loading" class="row justify-content-center">
  <div class="col-sm-10 col-md-6 col ">
    <form (ngSubmit)="onResetPassword()" #rpf="ngForm" class="form-group">
      <label for="password">
        Enter a new password
      </label>
      <input
        name="password"
        id="password"
        ngModel
        class="form-control"
        placeholder="enter new Password"
        type="password"
      />

      <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
    </form>
    <a *ngIf="showlogin" class="btn btn-primary mt-3" [routerLink]="['/auth']"
      >Login</a
    >
    <p class="lead">{{ message || null }}</p>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>
