<app-navigation></app-navigation>
<div (click)="goBack()" *ngIf="profileImageModal" class="back-drop"></div>
<div class="user">
  <div class="jumbotron jumbotron-fluid">
    <div class="user-props container">
      <img
        (click)="updateProfileImage()"
        class="img-fluid profile-image"
        [src]="
          'https://social-node-rest-api.herokuapp.com/' +
          profile.profileImageUrl
        "
        alt="sas"
      />
      <div class="container ">
        <span class=" text-center" class="lead ">{{ user.username }}</span>
        <button (click)="edit()" class="ml-3 btn btn-outline-secondary btn-sm">
          Edit
        </button>
        <p>{{ user.name }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!editProfile" class="display-profile">
  <div class="user-posts">
    <span *ngFor="let url of imageUrls" class="post-image">
      <img class="img-fluid post-content " [src]="url" alt="post" />
    </span>
  </div>
</div>
<div *ngIf="profileImageModal" class="container profile-image-modal">
  <form (ngSubmit)="onUpdateProfile()" #pf="ngForm">
    <input
      (change)="onSelected($event)"
      ngModel
      type="file"
      class="form-control-file"
      name="image"
    />
    <button class="btn btn-sm btn-primary" type="submit">Upload</button>
  </form>
</div>
<div *ngIf="editProfile" class="edit-profile">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <form (ngSubmit)="profileUpdate()" #pf="ngForm" class="form-group">
        <label class="form-label">Name </label>
        <input
          class="form-control"
          [ngModel]="user.name"
          type="text"
          name="name"
        />

        <label class="form-label">Username</label>
        <input
          class="form-control"
          [ngModel]="user.username"
          type="text"
          name="username"
        />

        <label class="form-label">Website</label>
        <input
          class="form-control"
          [ngModel]="profile.website"
          type="text"
          name="website"
        />

        <label class="form-label">Bio</label>
        <textarea
          [ngModel]="profile.bio"
          name="bio"
          class="form-control"
        ></textarea>

        <label class="form-label">Email</label>
        <input
          class="form-control"
          [ngModel]="user.email"
          type="text"
          name="email"
        />

        <label class="form-label">Gender</label>
        <select [ngModel]="profile.gender" name="gender" class="form-control">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <button class="mt-2 mb-4 btn btn-primary btn-md" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="saved" class="saved-message">
  <p class="lead text-white text-center">Profile Updated</p>
</div>
