<nav class="navbar nav-bar-light">
  <a [routerLink]="['']" class="navbar-brand">Connector</a>
  <span class="lead">
    <img
      class="img-fluid nav-profile-img"
      [src]="'https://social-node-rest-api.herokuapp.com/' + profileImage"
    />
    Hello! {{ user }}</span
  >
  <div (click)="sideBar()" class="hamburger">
    <span class="icon"></span>
    <span class="icon"></span>
    <span class="icon"></span>
  </div>

  <ul class="navigation-list navbar-nav">
    <li class=" ml-2 navbar-item">
      <a [routerLink]="['/createpost']" class="link nav-link"> Create-Post</a>
    </li>
    <li class="ml-3 navbar-item">
      <a class="link nav-link" [routerLink]="['/feed']">Feed</a>
    </li>
    <li class="ml-3 navbar-item">
      <a class="link nav-link" [routerLink]="['/profile']">Profile</a>
    </li>

    <li class="ml-3 navbar-item">
      <a class="link  nav-link" (click)="onlogout()">
        <span class="logout">logout</span>
      </a>
    </li>
  </ul>
</nav>
<div *ngIf="showSidebar" class="sidebar">
  <a [routerLink]="['/createpost']" class="link nav-link"> Create-Post</a>
  <a class="link nav-link" [routerLink]="['/feed']">Feed</a>
  <a class="link nav-link" [routerLink]="['/profile']">Profile</a>
  <a class="link nav-link" (click)="onlogout()"
    ><span class="logout">logout</span>
  </a>
</div>
